<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <section id="appContainer" class="main"></section>

    <% if (htmlWebpackPlugin.options.env === 'dev') { %>
    <script src="js/dat.gui.min.js"></script>
    <% } %>
  </body>
</html>
